.main-layout-register{
    font-family:  Helvetica, sans-serif;
    margin: 0 auto;
    padding: 60px;
    background-color: #49be3a46;
    /* background: linear-gradient(to right, #ffaa00, #5cbe2d); */
}
.two-column-layout-register {
    display: flex;
    box-shadow: #3f3f3f 0px 0px 10px 0px;
    width: 70%;
    margin: 0 auto;

  }
  
  .left-column-register {
    /* background: linear-gradient(to right, #ffffff, #ACB6E5); */
    flex: 3;
    background-color: #ffaa00; /* Example background */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: #3f3f3f 1px solid; */
    background-image: url('../../../Images/registerArt.png');
    background-size: cover;     /* Makes image cover the whole area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
  }
  
  .right-column-register {
  
    flex: 6;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.register-contaner{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1;
    position: relative;
    padding: 20px 40px;

}
.Register-Container{
    flex-direction: column;
    background-color: #cf2e87;
}
#registerButton{
  background-color: #ffaa00;
  color: white;
  left: 0;
}
.registerArt{
    width: 80%;
    height: auto;
    object-fit: contain;

}