.IntroBody{
    background:linear-gradient(135deg, #fffdfd, #f5f2f2);
    height: 100vh; /* Full screen height */
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-family: Helvetica, sans-serif;
}
.highlight {
    font-size:7rem;
    font-weight: bold;
    color: #ffaa00; /* Optional color change */
  }
.welcome{
    color:#5cbe2d;
}  
  
.ActionBody{
    height: 100vh; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#lost{
    left: 0%;
}
#found{
    right: 0%
}
.ButtonMainContainer{
    align-items: center;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
    top: 85%;
}
.Actionbutton{
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 200px;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.action-icon{
    color: #ffaa00;
    font-size: 80px !important;
}

.action-icon:hover{
    color: #5cbe2d;
}
.slide-bar{
    font-family: Helvetica, sans-serif;
  width: 80%;
  height: 40vh;
  padding: 30px;
  color: #333;
  transition: background 0.5s ease;
  background-color: #e6dede;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
  
  .slide-left {
    flex: 4; /* Small section */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-image {
    max-width: 100%;
    max-height: 200px;
    border-radius: 12px;
    object-fit: contain;
  }
  .slide-middle{
    flex: 1; /* Small section */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-right {
    flex: 9; /* Larger section */
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .arrow-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1b1a1a;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    font-size: medium;
  }
  .action-icon#arrow{
    font-size: 60px !important;
    color: #ffaa00;
  }
  .action-icon#arrow:hover{
    color: #000000;
  }
  .arrow-button:hover {
    background-color: #17d851;
  }
  